<%= stylesheet_link_tag 'signin' %>
<div class="container">
  <%= form_for :session, url: login_path, method: 'post', html: { class: 'form-signin' } do |f| %>
    <h2 class="form-signin-heading">Sign In</h2>
    <%= f.label :email, 'Email address ', class: 'sr-only' %>
    <%= f.email_field :email, placeholder: 'Email address', autofocus: '', type: 'email', class: 'form-control' %>
    <%= f.label :password, 'Password ', class: 'sr-only' %>
    <%= f.password_field :password, placeholder: 'Password', type: 'password', class: 'last form-control' %>
    <!-- TODO REMEMBER ME NO GOOD
    <div class="checkbox">
      <label>
        <input value="remember-me" type="checkbox"> Remember me
      </label>
    </div>
    -->
    <%= f.submit 'Sign In', class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
  <!--< %= button_to 'Sign Up', signup_path, method: 'get', form_class: 'form-signin', class: 'btn btn-lg btn-info btn-block second-btn' %>-->
</div>
